nav.navbar.navbar-default
  .container
    .navbar-header
      a.navbar-brand(href='/') NEEDS
    ul.nav.navbar-nav.navbar-right
      li
         a(href='/') HOME
      li
         a(href='/about') ABOUT
      li 
         a(href='/needs') NEEDS
